include ../mixins/mixins.pug

doctype html
html(lang="en")
  head
    block head
      include ../partials/head.pug
  body
    block header
    block content
    block scripts
      include ../partials/scripts.pug