extends ./layouts/base.pug

append head
  title Login
  style.
    body {
      padding-top: 40px;
    }

block content
  div.cotainer
    div.row
      div.col-md-4.col-md-offset-4
        h1 Login
    div.row
      div.col-md-4.col-md-offset-4
        if message
          div= message
    div.row
      div.col-md-4.col-md-offset-4
        form(action="/login" method="post")
          div.form-group
            label(for="") Email
            input(type="text" id="name" name="email" placeholder='Email' value=email).form-control
          div.form-group
            label(for="password") Password
            input(type="password" id="password" name="password" placeholder='Password').form-control
          div.checkbox.custom-control.custom-checkbox
            label
              input(type="checkbox")
              span.custom-control-indicator
              | Remember me
          input(type="hidden" id="next" name="next" value="")
          button(type="submit").btn.btn-primary Login
    div.row
      div.col-md-4.col-md-offset-4
        hr
        p Need an account?
          | #{" "}
          a(href="/signup") Signup
        p Or go
          | #{" "}
          a(href="/") home
          | .

append scripts
  script(src="js/login.min.js")