mixin dashhead(title, subtitle, separator)
  div.dashhead
    div.dashhead-titles
      h6.dashhead-subtitle= subtitle
      h2.dashhead-title= title
    div.btn-toolbar.dashhead-toolbar
  if separator
    hr.m-t